<section id="header">
  <a href="#" class="logo1">Plamt</a>
      <div class="nav-bar1">
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#!product">Product</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
    </div>  
      <div class="nav-icon1">
          <div class="search-box1">
              <input class="search-input1" type="text" placeholder="Search..." id="search" name="search" ng-model="product.name">
              <a class="search-icon1"><i class="bx bx-search"></i></a>
          </div>
          <a href="/src/login.html"><i class="bx bx-user"></i></a>
          <a href="#"><i class="bx bx-heart"></i></a>
          <a ng-click="showcart()" style="cursor: pointer;">
              <i class="bx bx-cart" ></i>
              
          </a>
      </div>
</section>

    <div id="thanks-for-buying-container" class="container">
        <div class="tks-for-buy-card">
            <div class="row" style="align-items: center; justify-content: center;">
                <div class="col-md-10 border-card" >
                    <h1>THANKS YOU!</h1>
                    <div class="img-pos" style="text-align: center;">
                    <img src="images/icons8-tick.gif" alt="" style="width: 80px;">
                    <p>Thank you for your purchase! Your support is truly appreciated, and I'm thrilled that plant will be a part of your life.<br> Enjoy, and thank you again!</p>
                    <a href="#">Back To Home</a>
                    <p style="font-weight: 100; font-size: 13px; padding-top: 40px;">Copyright &copy;2023 | All Right Reserved </p>
                </div>
                </div>
            </div>
        </div>
    </div>
    
