<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Register</title>
    <link rel="icon" type="image/x-icon" href="/img/icon-808x511.png">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body ng-app="registerApp"  ng-controller="registerCtrl">
    <div class="container">
      <!-- register form -->
      <form id="register-form" name="regForm" novalidate style="display: none;">
        <h1>Register</h1>
        <div class="form-control">
            <input type="text" name="username" ng-model="username" placeholder="Username" ng-minlength="5" ng-maxlength="50" required/>
            <span></span>
            <small ng-show="regForm.username.$touched && regForm.username.$error.required">Username is required !</small>
            <small ng-show="regForm.username.$dirty && regForm.username.$invalid">
              <small ng-show="regForm.username.$error.minlength">Username must be at least 5 characters long !</small>
              <small ng-show="regForm.username.$error.maxlength">Username can be at most 50 characters long !</small>
            </small>
          
        </div>
        <div class="form-control">
          <input type="email" name="email" ng-model="email" placeholder="Email" required/>
          <span></span>
          <small ng-show="regForm.email.$touched && regForm.email.$error.required">Email is required !</small>
          <small ng-show="regForm.email.$dirty && regForm.email.$invalid">
                <small ng-show="regForm.email.$error.email">Email invalid !</small>
          </small>
        </div>

        <div class="form-control">
          <input type="password" name="password" ng-model="password" ng-minlength="5" ng-maxlength="50" placeholder="Password" required/>
          <span></span>
          <small ng-show="regForm.password.$touched && regForm.password.$error.required">Password is required !</small>
          <small>
            <small ng-show="regForm.password.$error.minlength">password must be at least 5 characters long !</small>
              <small ng-show="regForm.password.$error.maxlength">password can be at most 50 characters long !</small>
          </small> 
        </div>

        <div class="form-control">
            <input type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password" required ng-change="checkPasswordMatch()"/>
            <span></span>
            <small ng-if="regForm.confirmPassword.$dirty && !passwordsMatch">Passwords do not match!</small>
            
          </div>
            
        <input type="submit" value="Register" ng-disabled="regForm.$invalid" ng-click="register()" />
        <div class="signup_link">Already have an account? <a href="#" id="login-link">Login</a></div>
      </form>
    </div>
    <div class="container">
      <!-- Login form -->
      <form id="login-form" name="logForm" novalidate>
        <button><a href="/index.html">&times;</a></button>
        <h1>Login</h1>
        <div class="form-control">
          <input type="text" ng-model="username" placeholder="Username" required/>
          <span></span>
        </div>
        <div class="form-control">
          <input type="password" ng-model="password" placeholder="Password" required/>
          <span></span>
          <small></small>
        </div>
        <input type="submit" value="Login" ng-click="login($event)"/>
        <div class="signup_link">Not have an account? <a href="#" id="register-link">Register</a></div>
      </form>
    </div>
    
    <script src="/js/login.js"></script>
  </body>
</html>